@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

@import "./_utilities";

@import "../node_modules/bulma/bulma";

//GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $family-primary;
}

main {
  background: url(../_assets/images/ilustracija.png) no-repeat left center;
  background-size: auto 100%;
  overflow: hidden;

  @include for-phone {
    background: url(../_assets/images/ilustracija.png) no-repeat left top;
    background-size: auto 50%;
  }
}

.header {
  background-color: black;
  color: white;
  width: 70%;
  margin: 0 auto;

  @include for-phone {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  @include for-tablet {
    text-align: center;
    padding: 20px;
  }

  @include for-desktop {
    padding-left: 126px;
  }

  @include for-widescreen {
    padding-left: 126px;
  }

  @include for-fullhd {
    padding-left: 138px;
  }

  h1 {
    font-weight: bold;
    text-transform: uppercase;
    @include for-phone {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 2.4px;
      margin-bottom: 20px;
    }

    @include for-tablet {
      font-size: 22px;
      line-height: 50px;
      letter-spacing: 3.3px;
    }

    @include for-desktop {
      font-size: 22px;
      line-height: 40px;
      letter-spacing: 3.3px;
    }

    @include for-widescreen {
      font-size: 40px;
      line-height: 80px;
      letter-spacing: 6px;
    }

    @include for-fullhd {
      font-size: 45px;
      line-height: 1.78;
      letter-spacing: 6.75px;

      padding: 27px 0;
    }
  }

  h2,
  h3 {
    font-weight: bold;
    @include for-phone {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2.1px;
    }

    @include for-tablet {
      font-size: 18px;
      line-height: 35px;
      letter-spacing: 2.7px;
    }

    @include for-desktop {
      font-size: 25px;
      line-height: 50px;
      letter-spacing: 3.75px;
    }

    @include for-widescreen {
      font-size: 25px;
      line-height: 50px;
      letter-spacing: 3.75px;
    }

    @include for-fullhd {
      font-size: 30px;
      line-height: 60px;
      letter-spacing: 4.5px;
    }
  }

  h3 {
    @include for-phone {
    }

    @include for-tablet {
    }

    @include for-desktop {
    }

    @include for-widescreen {
      padding-bottom: 60px;
    }

    @include for-fullhd {
      padding-bottom: 60px;
    }
  }
}

.content {
  @include for-phone {
    max-width: 270px;
    margin: 0 auto;
    padding: 0 14px 0 10px;

    @include for-small-phone {
      max-width: 360px;
      margin: 0 auto;
      padding: 0 30px 0 10px;
    }
  }
  h3 {
    background-color: black;
    color: white;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;

    @include for-phone {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 2.4px;
      width: 165px;
      font-weight: normal;
    }

    @include for-tablet {
      font-size: 22px;
      line-height: 30px;
      letter-spacing: 3.3px;
      width: 224px;
    }

    @include for-desktop {
      font-size: 22px;
      line-height: 40px;
      letter-spacing: 3.3px;
      width: 224px;
    }

    @include for-widescreen {
      font-size: 40px;
      line-height: 50px;
      letter-spacing: 6px;
      width: 395px;
    }

    @include for-fullhd {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: 6px;
    }
  }

  p {
    font-family: $family-secondary;
    color: $brownish-grey;
    text-align: left;

    @include for-phone {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 2.1px;
      color: black;
      width: 165px;
    }

    @include for-tablet {
      font-size: 14px;
      width: 224px;
    }

    @include for-desktop {
      font-size: 16px;
      width: 224px;
    }

    @include for-widescreen {
      font-size: 16px;
      width: 395px;
    }

    @include for-fullhd {
      font-size: 20px;
    }
  }

  &__wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      ". nos"
      "kapak ."
      ". grudi"
      "lice ."
      ". liposukcija"
      "tijelo .";

    @include for-phone {
      grid-template-columns: 150px 150px;
      grid-template-rows: auto auto auto auto auto auto;
      margin-top: 50px;
      margin-bottom: 50px;
      row-gap: 35px;
    }

    @include for-tablet {
      width: 500px;
      margin-top: 110px;
      padding-left: 154px;
      margin-bottom: 100px;
    }

    @include for-desktop {
      width: 600px;
      margin-top: 184px;
      padding-left: 100px;
      margin-bottom: 50px;
    }

    @include for-widescreen {
      width: 700px;
      padding-left: 80px;
      margin-bottom: 100px;
    }

    @include for-fullhd {
      width: 900px;
      padding-left: 100px;
      margin-bottom: 100px;
    }
  }

  &--nos {
    grid-area: nos;
  }
  &--kapak {
    grid-area: kapak;
  }
  &--grudi {
    grid-area: grudi;
  }
  &--lice {
    grid-area: lice;
  }
  &--liposukcija {
    grid-area: liposukcija;
  }
  &--tijelo {
    grid-area: tijelo;
  }
}

//FOOTER

.footer {
  background-color: #363636;

  color: white;
  font-weight: 600;
  text-transform: uppercase;

  padding: 1rem 1.5rem 1rem;

  h4 {
    margin-bottom: 20px;
    @include for-phone {
      font-size: 12px;
      margin-bottom: 10px;
    }

    @include for-tablet {
      font-size: 14px;
    }

    @include for-desktop {
      font-size: 18px;
      line-height: 40px;
    }

    @include for-widescreen {
      font-size: 18px;
      line-height: 40px;
    }

    @include for-fullhd {
      font-size: 18px;
      line-height: 40px;
    }

    @include for-ultrahd {
      font-size: 18px;
      line-height: 40px;
    }
  }

  &__logo {
    margin-right: 20px;

    @include for-phone {
      margin-right: 0;
    }
  }

  img {
    @include for-phone {
      width: 15%;
    }

    @include for-tablet {
      width: 15%;
    }

    @include for-desktop {
      width: 15%;
    }
  }
}
